* {
    scroll-behavior: smooth;
}

.img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.sembunyi {
    display: grid;
    visibility: hidden;
}

.sembunyi img {
    width: 100%;
    height: auto;
}

.jarak {
    margin: 10rem;
}